{
  "default-runtime": "{{ nvidia_docker_default_runtime }}",
{% if nvidia_docker_live_restore | bool %}
  "live-restore": true,
{% endif %}
  "runtimes": {
    "nvidia": {
      "path": "nvidia-container-runtime",
      "runtimeArgs": []
    }
  }
}
